development:
  adapter: mysql2
  database: development
  host: localhost
  encoding: utf8
  user: root
  password:
  pool: 5
  timeout: 5000
  socket: /var/run/mysqld/mysqld.sock

test:
  adapter: mysql2
  database: test
  host: localhost
  encoding: utf8
  user: root
  password:
  pool: 5
  timeout: 5000
  socket: /var/run/mysqld/mysqld.sock

production:
  adapter: mysql2
  database: production
  host: localhost
  encoding: utf8
  user: root
  password:
  pool: 5
  timeout: 5000
  socket: /var/run/mysqld/mysqld.sock